<div class="card add-card">
  <h5 class="card-header">Editar o carro</h5>
  <div class="card-body">
    <form [formGroup]="checkoutForm">
      <div class="form-group">

        <label for="model">Modelo</label>
        <input type="text" name="model" formControlName="model" class="form-control"  >

        <label for="color">Cor</label>
        <input type="text" name="color" formControlName="color" class="form-control" >

        <label for="price">Price</label>
        <input type="number" name="price" formControlName="price" class="form-control" >
      </div>
      <button class="btn btn-warning btn-sm ml-1" (click)="UpdateFormCar()" >ATUALIZAR</button>
      <button class="btn btn-primary btn-sm ml-1" routerLink="" >VOLTAR</button>
    </form>
  </div>
</div>


